mlflow==2.4
cffi==1.15.1
cloudpickle==2.2.1
defusedxml==0.7.1
importlib-metadata==6.7.0
jinja2==3.1.2
matplotlib==3.7.2
numpy==1.22.3
packaging==23.1
pandas==1.5.1
pycaret==3.0.0
scikit-learn==1.2.2
scipy==1.9.3