{% extends "base.html" %}

{% block title %}HDB Resale Price Prediction{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/hdb.css')}}">
{% endblock %}
{% block content %}

 <div class="login">
	<h1>Predict HDB Resale Price</h1>

     <!-- Form to enter new data for predictions  -->
    <form action="{{ url_for('predict_hdb')}}"method="POST">
      <input type="text" name="age" placeholder="Age" required="required" /><br>
    	<input type="text" name="sex" placeholder="Sex" required="required" /><br>
        <input type="text" name="bmi" placeholder="BMI" required="required" /><br>
        <input type="text" name="children" placeholder="Children" required="required" /><br>
        <input type="text" name="smoker" placeholder="Smoker" required="required" /><br>
        <input type="text" name="region" placeholder="Region" required="required" /><br>

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
  
   
 </div>

<!-- PopUp Box -->
<div class="popup-box container" id="popup-box">
  <div class="popup-content">
      <!-- PopUp Box body -->
      <div class="popup-body">
          <p>The HDB Resale Prediction Price is  {{pred}}</p>
      </div>
  </div>
</div>


 {% endblock %}
